body, html {
  font-size: 10px;
  width: 100%;
  height: 100%;
}
div#root .values {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 250px;
  height: 50px;
  text-align:center;
}
div#root input {
  letter-spacing: 2px;
  font-weight: bold;
  text-align: center;
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid black;
  background-color: transparent;
  transition: 0.2s all ease-in-out;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
div#root input:focus {
  outline: none;
  color: white;
  background-color: black
}
.color-block {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in;
  z-index: -1;
}
.paragraphs {
  text-transform: uppercase;
  cursor: copy;
  font-size: 1.4rem;
  font-weight: 700;
}
.d-none {
  display: none;
}
